/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

/* Custom Navbar Styles */
.custom-navbar {
  background-color: #ff5733;
  color: #fff;
  padding: 15px 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/* Container Styles */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Brand Styles */
.custom-brand {
  font-size: 28px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Navbar Menu Styles */
.navbar-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

/* Navbar List Item Styles */
.nav-item {
  display: inline-block;
  margin-right: 20px;
}

/* Navbar Link Styles */
.custom-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
  font-weight: bold;
}

.custom-link:hover {
  color: #ffae63;
}

/* Welcome Container Styles */
.welcome-container {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Welcome Content Styles */
.welcome-content {
  text-align: center;
  color: #000;
}

/* Welcome Heading Styles */
.welcome-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Welcome Text Styles */
.welcome-text {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Explore Button Styles */
.explore-button {
  display: inline-block;
  background-color: #ff5733;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #ffae63;
}

/* Login and Sign-up Page Styles */
.container-login {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 5% 0;
}

.auth-container {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.auth-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.form-label {
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-check-input {
  margin-right: 5px;
}

/* Password Hint Styles */
.password-hint {
  font-size: 14px;
  color: #777;
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5733;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #ff5733;
}

.btn:hover {
  background-color: #ffae63;
}

/* Recipe Show Page Styles */
.recipe-show-page {
  max-width: 800px;
  margin: 30px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.recipe-header {
  text-align: center;
}

.recipe-header h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.top-line {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.top-line p {
  font-size: 16px;
}

.recipe-description {
  margin-top: 20px;
}

.recipe-show-button-container {
  text-align: center;
  margin-top: 20px;
}

/* Table Styles */
.table {
  margin-top: 20px;
}

.table th {
  background-color: #ff5733;
  color: #fff;
  font-weight: bold;
}

.table td {
  font-size: 16px;
}

/* Back Button Styles */
.btn-secondary {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #555;
}

.mobile-menu {
  display: none; /* Hide menu by default */
}

/* Style the menu button */
.menu-button {
  cursor: pointer;
  display: none; /* Hide menu button by default */
}

@media (max-width: 768px) {
  .menu-button {
    display: block; /* Show menu button */
  }

  .mobile-menu.open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(1, 0.3412, 0.2, 0.6);
    height: 100vh;
    padding: 20px 50px;
  }

  .navbar-menu {
    display: none;
  }
  .recipe-item {
    flex-direction: column !important;
  }
}